.codex
.data
.env
.env.*
.git
.gitignore
.next
.pnpm-store
.source
.turbo
.vercel
Dockerfile*
node_modules
npm-debug.log*
out
dist
playwright-artifacts
public/resources/industry-mapping-4-dec-csv.csv
src/generated/prisma
yarn-debug.log*
yarn-error.log*
